.form-content{
    display:flex;
    flex-direction:column;
    position:relative;
    overflow:hidden;
}
label{
    pointer-events:none;
    position:absolute;
    top:8px;
    left:15px;
    width:100%;
    background:#fff;
    transition: all .1s;
}
input{
    padding:8px;
    border:none;
    border-bottom:1px solid #000;
    outline:none;
    width: -webkit-fill-available;
}

label::after{
    content:"";
    position:absolute;
    width:100%;
    height:3px;
    bottom:-29px;
    left:-15px;
    background-color:blue;
    transform:translateX(-110%);
}
input:focus + label::after{
    transform:translateX(0%);
    transition:all .2s;
}